In [1]:
!pip install --quiet sklearn

In [ ]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

In [4]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from IPython.display import clear_output

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

In [77]:
df_train, df_test = train_test_split(pd.read_csv('https://raw.githubusercontent.com/afonsir/cyrela-etl/main/data/parsed-data.csv'))

y_train = df_train.pop('p_dias_atraso_category')
y_test = df_test.pop('p_dias_atraso_category')

In [70]:
df_train.head()

      empresa  p_empresa   marca  ...  p_valor_pago         vgv     p_vgv
764      2044   0.646018   VIVAZ  ...      0.000636   218567.63  0.010662
2795      168   0.053097  LIVING  ...      0.059483  1206036.88  0.058831
836      1166   0.368521   VIVAZ  ...      0.009521   191327.69  0.009333
1810     2047   0.646966  CYRELA  ...      0.035981  1003581.32  0.048955
980      3091   0.976928   VIVAZ  ...      0.000009   186398.86  0.009093

[5 rows x 33 columns]

In [71]:
df_train.describe()

           empresa    p_empresa  ...           vgv        p_vgv
count  2248.000000  2248.000000  ...  2.248000e+03  2248.000000
mean   1769.160587     0.559153  ...  9.225812e+05     0.045004
std     848.590056     0.268202  ...  1.092420e+06     0.053289
min     164.000000     0.051833  ...  1.354457e+05     0.006607
25%    1166.000000     0.368521  ...  3.635632e+05     0.017735
50%    2043.000000     0.645702  ...  5.938666e+05     0.028969
75%    2154.000000     0.680784  ...  1.190949e+06     0.058095
max    3164.000000     1.000000  ...  2.050000e+07     1.000000

[8 rows x 30 columns]

In [79]:
y_train.value_counts()

0    965
1    900
2    383
Name: p_dias_atraso_category, dtype: int64

In [72]:
def input_fn(features, labels, training=True, batch_size=256):
    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle and repeat if you are in training mode.
    if training:
        dataset = dataset.shuffle(1000).repeat()
    
    return dataset.batch(batch_size)

In [ ]:
NUMERIC_COLUMNS = ['p_empresa', 'p_marca', 'p_obra', 'p_bloco', 'p_unidade',
                   'p_carteira_sd_gerencial', 'p_saldo_devedor', 'p_dias_atraso',
                   'p_valor_pago_atualizado', 'p_valor_pago', 'p_vgv',
                   'p_dt_venda_day', 'p_dt_venda_month', 'p_dt_venda_year',
                   'p_dt_chaves_day', 'p_dt_chaves_month', 'p_dt_chaves_year',
                   'p_data_base_day', 'p_data_base_month', 'p_data_base_year']

feature_columns = []

for feature_name in NUMERIC_COLUMNS:
  feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

print(feature_columns)

In [ ]:
classifier = tf.estimator.DNNClassifier(
    feature_columns=feature_columns,
    hidden_units=[20, 20],
    n_classes=3)

In [ ]:
classifier.train(
    input_fn=lambda: input_fn(df_train, y_train, training=True),
    steps=75000)

In [80]:
eval_result = classifier.evaluate(
    input_fn=lambda: input_fn(df_test, y_test, training=False))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2021-06-15T00:48:02
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp14sey7lk/model.ckpt-75000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 0.35805s
INFO:tensorflow:Finished evaluation at 2021-06-15-00:48:02
INFO:tensorflow:Saving dict for global step 75000: accuracy = 0.636, average_loss = 0.69070786, global_step = 75000, loss = 0.6911561
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 75000: /tmp/tmp14sey7lk/model.ckpt-75000

Test set accuracy: 0.636