# Classificador de Inadimplência

## Proposta

Criação de uma Rede Neural, afim de classificar a situação e projeção de inadimplência atuais de um empreendimento. Para isso, a Rede Neural busca correlações entre os dados afim de definir uma classificação de inadimplência.

## Bibliotecas Utilizadas

Utilizamos o TensorFlow para criação do modelo preditivo, e algumas outras bibliotecas que auxiliam da separação da massa de dados utilizada no processo de treinamento e validação do modelo.

In [1]:
!pip install --quiet sklearn

In [2]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from IPython.display import clear_output

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

## Fonte de Dados

Carregamento do dataset, e separação de *80%* dos dados, para treino e *20%* para validação do modelo. Importante remover o atributo que será previsto pelo modelo, nesse caso **p_dias_atraso_category**, afim de remover qualquer tipo de enviesamento do modelo.

In [4]:
df_train, df_test = train_test_split(pd.read_csv('https://raw.githubusercontent.com/afonsir/cyrela-etl/main/data/parsed-data.csv'))

y_train = df_train.pop('p_dias_atraso_category')
y_test = df_test.pop('p_dias_atraso_category')

## Pré-processamento dos Dados

Para o modelo proposto, os dados utilizados necessitam ser apenas numéricos (inerente ao treinamento do modelo), então, se faz necessário, o pré-processamento dos dados categóricos para numéricos, sugerimos o uso de uma aplicação **Apache Spark**, pela performance e escalabilidade.

In [5]:
df_train.head()

      empresa  p_empresa   marca  ...  p_valor_pago         vgv     p_vgv
2805      168   0.053097  LIVING  ...      0.034503   693170.99  0.033813
2046      661   0.208913  CYRELA  ...      0.009833   299033.49  0.014587
2123      737   0.232933  CYRELA  ...      0.019185  1062995.47  0.051853
1853     2067   0.653287  CYRELA  ...      0.017900   361742.18  0.017646
1217     1859   0.587547  CYRELA  ...      0.028092   871793.12  0.042526

[5 rows x 33 columns]

In [6]:
df_train.describe()

           empresa    p_empresa  ...           vgv        p_vgv
count  2248.000000  2248.000000  ...  2.248000e+03  2248.000000
mean   1792.344751     0.566481  ...  9.231116e+05     0.045030
std     845.660775     0.267276  ...  1.041685e+06     0.050814
min     164.000000     0.051833  ...  5.000000e+04     0.002439
25%    1166.000000     0.368521  ...  3.682429e+05     0.017963
50%    2043.500000     0.645860  ...  5.961705e+05     0.029081
75%    2154.000000     0.680784  ...  1.206142e+06     0.058836
max    3164.000000     1.000000  ...  2.050000e+07     1.000000

[8 rows x 30 columns]

## Categorias de Atraso

Para a massa de dados disponível, optamos pela seguinte divisão de categorias:

1.   **Atraso até 30 dias** (*983* registros para treino).
2.   **Atraso até 90 dias** (*884* registros para treino).
3.   **Atraso superior 90 dias** (*381* registros para treino).

In [7]:
y_train.value_counts()

0    983
1    884
2    381
Name: p_dias_atraso_category, dtype: int64

In [8]:
def input_fn(features, labels, training=True, batch_size=256):
    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle and repeat if you are in training mode.
    if training:
        dataset = dataset.shuffle(1000).repeat()
    
    return dataset.batch(batch_size)

## Atributos Utilizados no Treino

*   *p_empresa*
*   *p_marca*
*   *p_obra*
*   *p_unidade*
*   *p_saldo_devedor*
*   *p_valor_pago*
*   *p_vgv*
*   *p_dt_venda_year*
*   *p_dt_chaves_year*

Totalizando **9 atributos** utilizados no treinamento do modelo.

In [9]:
NUMERIC_COLUMNS = ['p_empresa', 'p_marca', 'p_obra', 'p_unidade',
                   'p_saldo_devedor', 'p_valor_pago', 'p_vgv',
                   'p_dt_venda_year', 'p_dt_chaves_year']

feature_columns = []

for feature_name in NUMERIC_COLUMNS:
  feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

print(feature_columns)

## Definição do Classificador

Após alguns testes, os melhores parâmetros do modelo, foram os seguintes:

*   Duas camadas ocultas (9 unidades cada).
*   Otimizador Adam.

In [10]:
classifier = tf.estimator.DNNClassifier(
    feature_columns=feature_columns,
    optimizer='Adam',
    hidden_units=[9, 9],
    n_classes=3)

## Treino

O melhor número de iterações nos treinos (tempo X perda), foi **10.000** iterações. Importante não treinar demais o modelo (depende do volume de dados disponível), afim de evitar o *overfitting*.

In [11]:
classifier.train(
    input_fn=lambda: input_fn(df_train, y_train, training=True),
    steps=10000)

## Validação do Modelo

Utiliza-se os *20%* dos dados, não utilizados no treino, e, portanto, não vistos pelo modelo, para a validação de acurácia.

In [12]:
eval_result = classifier.evaluate(
    input_fn=lambda: input_fn(df_test, y_test, training=False))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2021-06-22T02:07:35
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp8jb98ssg/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 0.28780s
INFO:tensorflow:Finished evaluation at 2021-06-22-02:07:35
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.48, average_loss = 0.94754946, global_step = 10000, loss = 0.94734925
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 10000: /tmp/tmp8jb98ssg/model.ckpt-10000

Test set accuracy: 0.480

## Conclusão

Após alguns testes, a acurácia geral do modelo, oscilou entre **40 e 50%**, o que consideramos muito baixo. Sugerimos o aumento no volume de dados (algo em torno de 10.000 registros), e a ampliação do escopo, ou seja, que haja maior cruzamento de dados (demais fontes), afim do aumento da acurácia do modelo, com isso, haverá maior facilidade em detecção de correlações.

---